        h1,h2,h3{
            text-align: center;
        }
        body{
            background-color: chocolate;
        }
        a{
            font-family: Arial, Helvetica, sans-serif;
        }
        footer{
            background-color: blue;
        }
